veilig-gui/bower_components/
veilig-gui/node_modules/
veilig-gui/.pulp-cache/
veilig-gui/output/
veilig-gui/.psci*
veilig-gui/src/.webpack.js
veilig-gui/dist/compiled.js
veilig-gui/static/dist
veilig-gui/npm-debug.log
veilig-gui/**DS_Store

veilig-core/dist
veilig-core/dist-*
veilig-core/cabal-dev
veilig-core/*.o
veilig-core/*.hi
veilig-core/*.chi
veilig-core/*.chs.h
veilig-core/*.dyn_o
veilig-core/*.dyn_hi
veilig-core/.hpc
veilig-core/.hsenv
veilig-core/.cabal-sandbox/
veilig-core/cabal.sandbox.config
veilig-core/*.prof
veilig-core/*.aux
veilig-core/*.hp
veilig-core/*.eventlog
veilig-core/.stack-work/
veilig-core/cabal.project.local
veilig-core/.HTF
veilig-gui/.psc-ide-port
*.log

.psc-ide-port
output/