gui/bower_components/
gui/node_modules/
gui/.pulp-cache/
gui/output/
gui/.psci*
gui/src/.webpack.js
gui/dist/compiled.js
gui/dist/bin/haskelldo*
gui/static/dist
gui/npm-debug.log
gui/**DS_Store

core/dist
core/dist-*
core/cabal-dev
core/*.o
core/*.hi
core/*.chi
core/*.chs.h
core/*.dyn_o
core/*.dyn_hi
core/.hpc
core/.hsenv
core/.cabal-sandbox/
core/cabal.sandbox.config
core/*.prof
core/*.aux
core/*.hp
core/*.eventlog
core/.stack-work/
core/cabal.project.local
core/.HTF
gui/.psc-ide-port
*.log

.psc-ide-port
output/